.form-container {
  background: #fff;
  border:5px solid green;
  border-radius: 16px;
  max-width: 500px;
  margin: 0 auto 30px;
  padding-top: 40px;
  padding-left: 30px;
  padding-bottom: 40px;
  padding-right: 60px;
  transition: 0.3s ease;
}
.form-container:hover{
box-shadow: -15px 15px 20px 20px #32CD32;
}
body {
  background: linear-gradient(to right, #54cf54, white);
}

.form-container:hover {
  transform: translateY(-3px);
}

.form-container h2 {
  color: #1e3c72;
  margin-bottom: 15px;
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 800;
}

.form-container input {
  display: block;
  width: 100%;
  padding: 10px 12px;
  margin: 18px 0;
  border: 3px solid green;
  border-radius: 8px;
  font-size: 1rem;
}

.form-container button {
  background-color: #1e3c72;
  color: white;
  border: none;
  width: 192px !important;
  padding: 10px 15px;
  font-weight: 600;
  border-radius: 8px;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 20px;
  margin-top: 10px;
}

.form-container button:hover {
  background-color: #16345d;
}