.college-list-container {
  
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px 20px;
  border-radius: 16px;
}

.college-list-container h2 {
  color: black;
  text-align: center;
  font-size: 30px;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.college-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 20px;
}

.college-card {
   border:5px solid green;
  border-radius: 16px;
  background: #fff;
  border-radius: 14px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.08);
  padding: 20px;
  font-size: 20px;
  transition: 0.2s;
}
.college-card:hover{
box-shadow: -15px 15px 20px 20px #32CD32;

}

.college-card:hover {
  transform: translateY(-4px);
}

.card-buttons {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 10px;
}

.edit-btn {
  background-color: #2196f3;
  color: white;
  border: none;
 padding: 10px 18px;
  font-size: 17px;
  font-weight: 800;
  border-radius: 6px;
  cursor: pointer;
  text-transform: uppercase;
}

.delete-btn {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 10px 18px;
  font-size: 17px;
  font-weight: 800;
  border-radius: 6px;
  cursor: pointer;
  text-transform: uppercase;
}
